<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="">
    Product list
  </h1>
  
<p>{{products.length}}</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">code</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">type</th>
        <th scope="col">price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <th scope="row">{{prod.code}}</th>
        <td>{{prod.name}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.type}}</td>
        <td>{{prod.price}}</td>
      </tr>
      
    </tbody>
  </table>

</div>


